.form-container{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2, 1fr);
  
    width: 40rem;
    height: 13rem;
    margin: 1rem;
    background-color: rgb(46, 43, 43);
    border-radius: 13px;
    padding: 2rem;
    color: rgb(163, 160, 157);
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: bolder;
    letter-spacing: 0.2rem;
  }
  .input-container{
    display: flex;
    flex-direction: column;
  }
  input{
    height: 2rem;
    width: 12rem;
    border-radius: 10px;
  }
  .button-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
   
   
  }
  .button{
    height: 3rem;
    width: 8rem;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: rgb(245, 240, 234);
    background-color: blueviolet;
    border-radius: 10px;
    margin: 0.3rem;
  }
  .expense-button{
    height: 3rem;
    width: 10rem;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: rgb(245, 240, 234);
    background-color: blueviolet;
    border-radius: 10px;
    margin: 0.3rem;

  }

  #form-date, #amount,#title{
    font-size: 1.2rem;
  }

  .expense-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 8rem;
    margin: 1rem;
    background-color: rgb(158,134,236);
    border-radius: 13px;
    padding: 2rem;
  }
  @media only screen and (max-width:500px){
    .form-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      
      width: 19rem;
      height: 15rem;
      margin: 1rem;
      padding: 1rem;
      font-size: 0.8rem;
    }
    input{
      height: 2rem;
      width: 12rem;
      border-radius: 10px;
      margin-bottom: 0.3rem;
    }
    .button-container{
      display: flex;
      align-items: center;
      justify-content: center;
     margin-top: 0.4rem;
    }
    .button{
      height: 2rem;
      width: 6rem;
      font-size: 0.6rem;
      margin: 0.3rem;
    }
    .expense-button{
      height: 2.5rem;
      width: 8rem;
      font-size: 0.8rem;
  
    }
    #form-date, #amount,#title{
      font-size: 1rem;
    }
  
    .expense-button-container{
      width: 19rem;
      height: 5rem;
      margin: 1rem;
      background-color: rgb(158,134,236);
      border-radius: 13px;
      padding: 2rem;
    }

  }
  
 