.form-container{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2, 1fr);
  
    width: 40rem;
    height: 13rem;
    margin: 1rem;
    background-color: rgb(46, 43, 43);
    border-radius: 13px;
    padding: 2rem;
    color: rgb(163, 160, 157);
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: bolder;
    letter-spacing: 0.2rem;
  }
  .input-container{
    display: flex;
    flex-direction: column;
  }
  input{
    height: 2rem;
    width: 12rem;
    border-radius: 10px;
  }
  .button-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
   
   
  }
  .button{
    height: 3rem;
    width: 10rem;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(245, 240, 234);
    background-color: blueviolet;
    border-radius: 10px;
  }

  #form-date, #amount,#title{
    font-size: 1.2rem;
  }

  
 